
  body {
    background-color: powderblue;
  }
  p {
    color : gold;
  }
  #yaso {
    background-color:green;
    color:red;
  }
  #senna {
    background-color:yellow;
    color:skyblue;
  }
  #swain{
    background-color: brown;
    color:gray;
  }
